body {
  width: auto;
  font-family: "Roboto", sans-serif;
  background: rgb(255, 211, 229);
  background: rgba(255, 211, 229, 0.5);
}
.main {
  width: 900px;
  margin: 40px auto;
}
.content, .content div, .main ul li {
  background: white;
}

/*header styling*/
header {
  background: #fff;
  background: linear-gradient(to right, #fff, #fff, pink, magenta);
  height: 260px;
  border: 1px solid #000;
  box-shadow: 5px 5px 0 #000;
  width: 900px;
}
header div {
  transform:rotate(-15deg);
  margin-left: 40px;
  width: 200px;
  padding-top: 1px;
}
header div h1 {
  color: white;
  text-shadow:
   -5px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 5px 0 #000,
     1px 1px 0 #000;
  font-family: "Lemonada", cursive;
  font-weight: bold;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: -5px;
}
.white {
  background: linear-gradient(to right, white, white, pink, magenta);
}
.pink, .pink2 {
  background: linear-gradient(to right, white, pink, magenta);
}
.magenta {
  background: linear-gradient(to right, pink, pink, magenta, darkmagenta);
}

/*navigation links styling*/
nav {
  padding-bottom: 20px;
  min-height: 60px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display:inline-block;
  width: 22%;
  height: 58px;
  border: 1px solid #000;
  margin-left: 10px;
  float: left;
}
nav ul li a{
  display: block;
  height: 48px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  color: #000;
}
nav ul li a:hover, nav ul li a.active{
  box-shadow: 5px 5px 0 #000;
}


/*main content styling*/
#explanation, #pink, #about {
  border: 1px solid #000;
  margin: 0 auto;
  box-shadow: 5px 5px 0 #000;
  width: 900px;
  clear: left;
  min-height: 150px;
}
#inspiration div:hover {
  box-shadow: 5px 5px 0 #000;
}
.content div {
  float:left;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  border: 1px solid #000;
}
.content p {
  padding-left: 20px;
  padding-right: 20px;
}
.content h2 {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.content a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.content span {
  text-transform: uppercase;
  text-align: center;
  color: white;
  background: magenta;
  margin: 5px;
}
#inspiration {
  border: none;
}
#inspiration p {
  font-weight: bold;
  margin: 10px;
  text-align: center;
}
iframe {
  border: 0;
}

/*styling the elements in the about section*/
#photo {
  width: 100px;
  border: none;
  margin: 0;
  padding: 20px;
}
#photo img {
  padding: 0;
  border-radius: 50px;
}
#about p {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#about a {
  color: #000;
  font-weight: bold;
}
